{% extends 'base.html' %}
{% load static %}
{% load utils %}

{% block title %}Timekeeper{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/time_record/time_record.css' %}">
{% endblock %}

{% block content %}
    <form action="" method="get">
        <div class="row">
            <div class="col-md-4">
                <div class="col-2">
                    <select name="year" id="year" class="form-select form-select-sm mb-1"
                            aria-label=".form-select-lg example">
                        {% for y in years %}
                            <option value="{{ y }}" {% if y == year %}selected{% endif %}>{{ y }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2">
                    <select name="month" id="month" class="form-select form-select-sm mb-1"
                            aria-label=".form-select-lg example">
                        {% for m in months %}
                            <option value="{{ m }}" {% if m == month %}selected{% endif %}>{{ m }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success" id="load">Load</button>
    </form>
    <h2 class="text-center" id="header-text">Record Time</h2>
    <div class="scrollable-content">
        <form method="POST">
            {% csrf_token %}
            <table class="table table-bordered">
                <thead class="sticky-header">
                <tr>
                    <th>Employee</th>
                    {% for day in days %}
                        <th id="{% if day in weekend_days %}weekdays{% endif %}">{{ day }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="sticky-content">
                {% for employee in employees %}
                    <tr>
                        <td id="emplrow">{{ employee.cnp }}-{{ employee.first_name }} {{ employee.last_name }}</td>
                        {% for day in days %}
                            <td id="{% if day in weekend_days %}weekdays{% endif %}">
                                <label for="pontaj_{{ employee.id }}_{{ day }}"></label>
                                {% with pos1=forloop.parentloop.counter0 %}
                                    {% with pos2=forloop.counter0 %}
                                        <input type="text" value="{{ values|index:pos1|index:pos2 }}"
                                               name="pontaj_{{ employee.id }}_{{ year }}-{{ month }}-{{ day }}"
                                               id="pontaj_{{ employee.id }}_{{ day }}"
                                               class="form-control {% if day in weekend_days %}readonly{% endif %}"
                                               {% if day in weekend_days %}readonly{% endif %}>
                                    {% endwith %}
                                {% endwith %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-center" id="btn">
                <button type="submit" class="btn btn-success text-center" id="savebtn">Save</button>
                <a href="{% url 'record-time' %}" class="btn btn-outline-secondary" id="vobtn">Undo</a>
            </div>
        </form>
    </div>
{% endblock %}
