{% extends 'base.html' %}
{% load static %}
{% load utils %}

{% block title %}Timekeeper{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/time_record/time_record.css' %}">
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/5.0.0/css/fixedColumns.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/4.0.1/css/fixedHeader.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/2.0.5/js/dataTables.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/fixedcolumns/5.0.0/js/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.min.js"></script>
{% endblock %}

{% block content %}
    <div class="col-12 d-flex justify-content-between mt-2">
        <form action='' method="get">
            <div class="container-fluid">
                <div class="d-flex">
                    <div class="d-flex align-items-center mx-1">
                        <select name="year" id="year" class="form-select form-select-sm col-12"
                                aria-label=".form-select-lg example">
                            {% for y in years %}
                                <option value="{{ y }}" {% if y == year %}selected{% endif %}>{{ y }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-flex align-items-center mx-1">
                        <select name="month" id="month" class="form-select form-select-sm col-12"
                                aria-label=".form-select-lg example">
                            {% for m in months %}
                                <option value="{{ m }}" {% if m == month %}selected{% endif %}>{{ m }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-flex align-items-center mx-1">
                        <button type="submit" class="btn btn-success col-12" id="load">Load</button>
                    </div>
                    <a href="{% url 'export_timesheet' %}?month={{ month }}&year={{ year }}" class="btn btn-primary">Generate XLSX</a>
                </div>
            </div>
        </form>

        <h2 class="text-center" id="header-text">Record Time</h2>
        <div class="text-center" id="btn">
            <button form="main_form" type="submit" class="btn btn-success text-center mx-1">Save</button>
            <button form="main_form" type="reset" class="btn btn-outline-secondary mx-1">Undo</button>
        </div>
    </div>
    <div class="scrollable-content">
        <form method="POST" id="main_form">
            {% csrf_token %}
            <table class="table table-bordered" id="table">
                <thead class="sticky-header">
                <tr>
                    <th>Employee</th>
                    {% for day in days %}
                        <th class="{% if day in weekend_days %}bg-body-secondary{% endif %}">{{ day }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="sticky-content">
                {% for employee in employees %}
                    <tr>
                        <td class="text-nowrap" title="{{ employee.cnp }}"
                            id="emplrow">{{ employee.first_name }} {{ employee.last_name }}</td>
                        {% for day in days %}
                            {% with pos1=forloop.parentloop.counter0 %}
                                {% with pos2=forloop.counter0 %}
                                    <td class="{% if day in weekend_days or not enableds|index:pos1|index:pos2 %}bg-body-secondary{% endif %}">
                                        {% if holiday_requests|index:employee.id|index:day %}
                                            <span>{{ holiday_requests|index:employee.id|index:day }}</span>
                                        {% else %}
                                            <input style="width: 45px !important;" type="text"
                                                   value="{{ values|index:pos1|index:pos2 }}"
                                                   name="pontaj_{{ employee.id }}_{{ year }}-{{ month }}-{{ day }}"
                                                   id="pontaj_{{ employee.id }}_{{ day }}"
                                                   class="form-control {% if day in weekend_days %}readonly{% endif %}"
                                                   {% if day in weekend_days or not enableds|index:pos1|index:pos2 %}readonly{% endif %}>
                                        {% endif %}
                                    </td>
                                {% endwith %}
                            {% endwith %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                autoWidth: false,
                fixedHeader: true,
                scrollX: true,
                order: [0, 'asc'],
                "fixedColumns": {
                    "leftColumns": 1,
                },
            });
        });
    </script>
{% endblock %}
