{% extends 'base.html' %}
{% load static %}

{% block title %}Leave Request{% endblock %}

{% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/add_leave_request/add_leave_request.css' %}">
    <script type="text/javascript" src={% static "js/add_leave_request/add_leave_request.js" %}></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 gy-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Add new leave request</h3>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form }}<br>
                            <p class="form-control" id="nodays">Nr. Zile: <span id="days_count"></span></p>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-success">Add Request</button>
                            <a href="{% url 'home_page' %}" class="btn btn-outline-danger">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}