{% extends 'base.html' %}
{% load static %}

{% block title %}List Requests{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_leave_request/approve_leave_request.css' %}">
    <script type="text/javascript" src={% static "js/add_leave_request/approve_leave_request.js" %}></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 gy-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Filters</h3>
                    </div>
                    <form method="get">
                        <div class="card-body">
                            {{ filter }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success">Search</button>
                            <a href="{% url 'list-requests' %}" class="btn btn-outline-danger">Reset</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-10 gy-3">
                <table class="table table-bordered rounded-table">
                    <thead>
                    <tr>
                        <th>Employee</th>
                        <th>CNP</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Type</th>
                        <th>Reason</th>
                        <th>Approved Status</th>
                        <th class="text-center">Action</th>
                        <th>Attachment</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for holiday in holiday_requests %}
                        <tr>
                            <td>{{ holiday.employee.first_name }} {{ holiday.employee.last_name }}</td>
                            <td>{{ holiday.employee.cnp }}</td>
                            <td>{{ holiday.start_date|date:'d/m/Y' }}</td>
                            <td>{{ holiday.end_date|date:'d/m/Y' }}</td>
                            <td>
                                {% for option in holiday.TYPE_CHOICES %}
                                    {% if option.0 == holiday.type %}
                                        {{ option.1 }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ holiday.reason }}</td>
                            <td>
                                {% for option in holiday.APPROVAL_CHOICES %}
                                    {% if option.0 == holiday.approval_status %}
                                        {{ option.1 }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="text-center">
                                    {% if holiday.approval_status == 'pending' %}
                                        <form method="post" action="{% url 'approve-request' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="id" value="{{ holiday.id }}">
                                            <button type="submit" class="btn btn-success btn-approve" name="approve"
                                                    value="1">
                                                Approve
                                            </button>
                                            <button type="submit" class="btn btn-danger btn-reject" name="reject" value="1">
                                                Reject
                                            </button>
                                        </form>
                                    {% else %}
                                        <p>This request is processed ! </p>
                                    {% endif %}
                            </td>
                            <td>
                                {% if holiday.attachment %}
                                    <a href="{{ holiday.attachment.url }}" target="_blank" class="btn btn-info">View attachment</a>
                                {% else %}
                                    <a class="btn btn-secondary">No attachment</a>
                                {% endif %}

                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
{% endblock %}