{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar/navbar.css' %}">
<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home_page' %}" style="display: flex; align-items: center;">
            <img src="{% static "images/vacation_valet_logo.jpeg" %}" width="50" height="50"
                 class="d-inline-block align-text-center m-0 p-0" alt="Logo">
            <span style="margin-left: 10px; color:white;">Vacation Valet</span>
        </a>
        {% if user.is_authenticated %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{% url 'home_page' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Employees
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'create-employee' %}">Add employee</a></li>
                        <li><a class="dropdown-item" href="{% url 'list-employees' %}">View employees</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Timekeeping
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Add timesheet</a></li>
                        <li><a class="dropdown-item" href="#">Edit timesheet</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Show timesheet</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Rest Holidays
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Add leave request</a></li>
                        <li><a class="dropdown-item" href="#">View leave request</a></li>
                    </ul>
                </li>
            </ul>
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger" id="logout">Logout, {{ user.username }}</button>
                </form>
            {% else %}
                <div>
                    <a href="{% url 'login' %}" class="btn btn-light">Login</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>